<a href="https://colab.research.google.com/github/alamjane/Randstad/blob/main/Covid_countries_wise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
 
from google.colab import files
uploaded = files.upload()

Saving country_wise_latest.csv to country_wise_latest (4).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['country_wise_latest.csv']))

df.head()

  Country/Region  Confirmed  ...  1 week % increase             WHO Region
0    Afghanistan      36263  ...               2.07  Eastern Mediterranean
1        Albania       4880  ...              17.00                 Europe
2        Algeria      27973  ...              18.07                 Africa
3        Andorra        907  ...               2.60                 Europe
4         Angola        950  ...              26.84                 Africa

[5 rows x 15 columns]

In [ ]:
df.shape

(187, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [ ]:
df.describe().T

                        count          mean  ...        75%         max
Confirmed               187.0  8.813094e+04  ...  40460.500  4290259.00
Deaths                  187.0  3.497519e+03  ...    734.000   148011.00
Recovered               187.0  5.063148e+04  ...  22606.000  1846641.00
Active                  187.0  3.400194e+04  ...   9149.000  2816444.00
New cases               187.0  1.222957e+03  ...    419.500    56336.00
New deaths              187.0  2.895722e+01  ...      6.000     1076.00
New recovered           187.0  9.338128e+02  ...    221.000    33728.00
Deaths / 100 Cases      187.0  3.019519e+00  ...      3.875       28.56
Recovered / 100 Cases   187.0  6.482053e+01  ...     86.885      100.00
Deaths / 100 Recovered  187.0           inf  ...      6.440         inf
Confirmed last week     187.0  7.868248e+04  ...  37080.500  3834677.00
1 week change           187.0  9.448460e+03  ...   3172.000   455582.00
1 week % increase       187.0  1.360620e+01  ...     16.855      226.32

[13 rows x 8 columns]

In [ ]:
df.isnull().sum() #  checking missing values

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [ ]:
df1 = df.groupby(['Country/Region'], sort=False)['Confirmed','Recovered'].max()
df1.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                     Confirmed  Recovered
Country/Region
Afghanistan              36263      25198
Albania                   4880       2745
Algeria                  27973      18837
Andorra                    907        803
Angola                     950        242
Antigua and Barbuda         86         65
Argentina               167416      72575
Armenia                  37390      26665
Australia                15303       9311
Austria                  20558      18246

In [ ]:
df1['Recovered_Percent'] = ((df1['Recovered'] / df1['Confirmed'] *100).round(2)).astype(str) + '%'

In [ ]:
df1.head(10)

                     Confirmed  Recovered Recovered_Percent
Country/Region
Afghanistan              36263      25198            69.49%
Albania                   4880       2745            56.25%
Algeria                  27973      18837            67.34%
Andorra                    907        803            88.53%
Angola                     950        242            25.47%
Antigua and Barbuda         86         65            75.58%
Argentina               167416      72575            43.35%
Armenia                  37390      26665            71.32%
Australia                15303       9311            60.84%
Austria                  20558      18246            88.75%

In [ ]:
df1.tail(10)

                    Confirmed  Recovered Recovered_Percent
Country/Region
United Kingdom         301708       1437             0.48%
Uruguay                  1202        951            79.12%
Uzbekistan              21209      11674            55.04%
Venezuela               15988       9959            62.29%
Vietnam                   431        365            84.69%
West Bank and Gaza      10621       3752            35.33%
Western Sahara             10          8             80.0%
Yemen                    1691        833            49.26%
Zambia                   4552       2815            61.84%
Zimbabwe                 2704        542            20.04%